footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.row1, .row2, .row3 , .row4 {
    height: 400px;
}

.App {
    background-color: beige;
    height: 800px;
    width: 100%;
}

.image {
    height: 100px;
    width: 100px;
}

.imageBig {
    height: 500px;
    width: 700px;
}

.firstCol {
    background-color:peachpuff;
    height: 800px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
 
.firstCol {
    height: 700px;
    overflow: scroll;
}

.home {
    background-color: peachpuff;
}

div > .update-btn {
    background-color: transparent;
    color: indigo;
    border-color: transparent;
}